.weather-app {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
  background-size: cover;
}

@media screen and (max-width: 795px) {
  .weather-app {
    height: 150vw;
  }
}

@media screen and (max-width: 575px) {
  .weather-app {
    height: 200vw;
  }
}

@media screen and (max-width: 400px) {
  .weather-app {
    height: 250vw;
  }
}

@media screen and (max-width: 390px) {
  .weather-app {
    height: 310vw;
  }
}